<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Calculadora de faltas no semestre</title>
  <meta name="description" content="Uma calculadora para ajudar no planejamento durante o semestre." />
  <meta name="author" content="Danilo Lessa Bernardineli" />
  <meta name="robots" content="index,follow" />
  <link rel="icon" href="http://fap.if.usp.br/~danlessa/icon.png">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <script src="script.js">
    < style >
      p {
        text - align: justify;
      }

      .aula_num {
        size: 3e m;
      } <
      /style>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <
      script async src = "https://www.googletagmanager.com/gtag/js?id=UA-117550550-1" >
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-117550550-1');
  </script>

</head>

<body>
  <div class="container">
    <div class="row">
      <h1>Calculador de quantidade de aulas (e faltas) no semestre.</h1>
      <p>Esse site vai te ajudar a saber quantas aulas (e faltas) você terá nesse semestre. Os feriados por padrão são os obtidos do calendário do JupiterWeb para 2017.</p>
    </div>

    <div class="row">
      <h2>Parâmetros</h2>

    </div>
    <div class="row">
      <p>Atenção: as datas devem estar no formato AAAA-MM-DD</p>
    </div>

    <div class="row">
      <div class="col-md">
        <i>Quando que começam e acabam suas aulas?</i>
        <table>
          <tr>
            <th>Começo</th>
            <th>Fim</th>
          </tr>
          <tr>
            <td><input type="text" id="data-comeco" value="2017-03-06"></td>
            <td><input type="text" id="data-fim" value="2017-07-08"></td>
          </tr>
        </table>
      </div>
      <div class="col-md">
        <i>Feriados a serem usados: </i><br/>
        <textarea id="feriados" rows=3>2017-04-10, 2017-04-11, 2017-04-12, 2017-04-13, 2017-04-15, 2017-04-21, 2017-04-22, 2017-05-01, 2017-06-15, 2017-06-16, 2017-06-17, 2017-09-04, 2017-09-05, 2017-09-06, 2017-09-07, 2017-09-08, 2017-09-09, 2017-10-12, 2017-10-28, 2017-11-02, 2017-11-03, 2017-11-04, 2017-11-15</textarea>
      </div>
    </div>

    <div class="row">
      <h3>Distribuição de aulas em uma semana ~ideal~</h3>
      <table>
        <tr>
          <th>Domingo</th>
          <th>Segunda</th>
          <th>Terça</th>
          <th>Quarta</th>
          <th>Quinta</th>
          <th>Sexta</th>
          <th>Sábado</th>
        </tr>
        <tr>
          <td><input class="aula-num" type="text" id="domingo" name="domingo" value=0></td>
          <td><input class="aula-num" type="text" id="segunda" name="segunda" value=1></td>
          <td><input class="aula-num" type="text" id="terca" name="terca" value=0></td>
          <td><input class="aula-num" type="text" id="quarta" name="quarta" value=1></td>
          <td><input class="aula-num" type="text" id="quinta" name="quinta" value=0></td>
          <td><input class="aula-num" type="text" id="sexta" name="sexta" value=0></td>
          <td><input class="aula-num" type="text" id="sabado" name="sabado" value=0></td>
        </tr>
      </table>

      <button id="btn_calc" onclick="calcular()">
Calcular faltas
</button>
    </div>

    <div class="row">
      <h2>Resultado</h2>
    </div>

    <div class="row">
      <p id="resultado">Clique no botão de calcular faltas para aparecer algo aqui.</p>
    </div>

    <div class="row">
      <p>Feito em alguns minutos por mim, Danilo Lessa Bernardineli. Veja o meu <a href="http://fap.if.usp.br/~danlessa">site</a> e meu <a href="https://danlessa.wordpress.com/">blog</a> também :)</p>
    </div>
  </div>
</body>
