<table class="simpletable">
<caption>OLS Regression Results</caption>
<tr>
  <th>Dep. Variable:</th>            <td>y</td>        <th>  R-squared:         </th> <td>   0.263</td>
</tr>
<tr>
  <th>Model:</th>                   <td>OLS</td>       <th>  Adj. R-squared:    </th> <td>   0.234</td>
</tr>
<tr>
  <th>Method:</th>             <td>Least Squares</td>  <th>  F-statistic:       </th> <td>   9.226</td>
</tr>
<tr>
  <th>Date:</th>             <td>Sun, 01 Jul 2018</td> <th>  Prob (F-statistic):</th> <td>2.76e-28</td>
</tr>
<tr>
  <th>Time:</th>                 <td>10:22:51</td>     <th>  Log-Likelihood:    </th> <td> -2748.2</td>
</tr>
<tr>
  <th>No. Observations:</th>      <td>   646</td>      <th>  AIC:               </th> <td>   5546.</td>
</tr>
<tr>
  <th>Df Residuals:</th>          <td>   621</td>      <th>  BIC:               </th> <td>   5658.</td>
</tr>
<tr>
  <th>Df Model:</th>              <td>    24</td>      <th>                     </th>     <td> </td>   
</tr>
<tr>
  <th>Covariance Type:</th>      <td>nonrobust</td>    <th>                     </th>     <td> </td>   
</tr>
</table>
<table class="simpletable">
<tr>
          <td></td>             <th>coef</th>     <th>std err</th>      <th>t</th>      <th>P>|t|</th>  <th>[0.025</th>    <th>0.975]</th>  
</tr>
<tr>
  <th>const</th>             <td>   54.2051</td> <td>    1.680</td> <td>   32.265</td> <td> 0.000</td> <td>   50.906</td> <td>   57.504</td>
</tr>
<tr>
  <th>USP</th>               <td>    5.4109</td> <td>    3.672</td> <td>    1.474</td> <td> 0.141</td> <td>   -1.800</td> <td>   12.622</td>
</tr>
<tr>
  <th>a posterior</th>       <td>   -4.3343</td> <td>    3.510</td> <td>   -1.235</td> <td> 0.217</td> <td>  -11.228</td> <td>    2.560</td>
</tr>
<tr>
  <th>bandex</th>            <td>    2.0288</td> <td>    2.788</td> <td>    0.728</td> <td> 0.467</td> <td>   -3.446</td> <td>    7.504</td>
</tr>
<tr>
  <th>caffeine </th>         <td>   -1.1611</td> <td>    3.270</td> <td>   -0.355</td> <td> 0.723</td> <td>   -7.582</td> <td>    5.260</td>
</tr>
<tr>
  <th>chill</th>             <td>    8.3312</td> <td>    4.194</td> <td>    1.987</td> <td> 0.047</td> <td>    0.095</td> <td>   16.567</td>
</tr>
<tr>
  <th>class</th>             <td>   -1.1746</td> <td>    3.359</td> <td>   -0.350</td> <td> 0.727</td> <td>   -7.771</td> <td>    5.421</td>
</tr>
<tr>
  <th>contact lens</th>      <td>    4.6390</td> <td>    3.159</td> <td>    1.469</td> <td> 0.142</td> <td>   -1.564</td> <td>   10.842</td>
</tr>
<tr>
  <th>cycling</th>           <td>    1.7162</td> <td>    2.772</td> <td>    0.619</td> <td> 0.536</td> <td>   -3.727</td> <td>    7.159</td>
</tr>
<tr>
  <th>date</th>              <td>    6.5115</td> <td>    1.833</td> <td>    3.553</td> <td> 0.000</td> <td>    2.912</td> <td>   10.111</td>
</tr>
<tr>
  <th>fasting</th>           <td>    3.1066</td> <td>    3.911</td> <td>    0.794</td> <td> 0.427</td> <td>   -4.574</td> <td>   10.787</td>
</tr>
<tr>
  <th>formal</th>            <td>    0.1641</td> <td>    2.953</td> <td>    0.056</td> <td> 0.956</td> <td>   -5.635</td> <td>    5.963</td>
</tr>
<tr>
  <th>home</th>              <td>   -2.5521</td> <td>    2.740</td> <td>   -0.932</td> <td> 0.352</td> <td>   -7.932</td> <td>    2.828</td>
</tr>
<tr>
  <th>passeio</th>           <td>    6.9878</td> <td>    2.133</td> <td>    3.276</td> <td> 0.001</td> <td>    2.798</td> <td>   11.177</td>
</tr>
<tr>
  <th>physical activity</th> <td>   -3.6181</td> <td>    3.715</td> <td>   -0.974</td> <td> 0.330</td> <td>  -10.913</td> <td>    3.677</td>
</tr>
<tr>
  <th>procastination</th>    <td>   -2.0267</td> <td>    1.535</td> <td>   -1.321</td> <td> 0.187</td> <td>   -5.040</td> <td>    0.987</td>
</tr>
<tr>
  <th>psychologist</th>      <td>    1.3922</td> <td>    3.879</td> <td>    0.359</td> <td> 0.720</td> <td>   -6.226</td> <td>    9.010</td>
</tr>
<tr>
  <th>relax</th>             <td>   14.4764</td> <td>    3.199</td> <td>    4.525</td> <td> 0.000</td> <td>    8.194</td> <td>   20.759</td>
</tr>
<tr>
  <th>service</th>           <td>    2.5508</td> <td>    2.027</td> <td>    1.258</td> <td> 0.209</td> <td>   -1.430</td> <td>    6.532</td>
</tr>
<tr>
  <th>sick</th>              <td>   -4.6258</td> <td>    4.145</td> <td>   -1.116</td> <td> 0.265</td> <td>  -12.766</td> <td>    3.514</td>
</tr>
<tr>
  <th>social</th>            <td>   11.7149</td> <td>    1.527</td> <td>    7.669</td> <td> 0.000</td> <td>    8.715</td> <td>   14.715</td>
</tr>
<tr>
  <th>study</th>             <td>   -1.6949</td> <td>    2.483</td> <td>   -0.683</td> <td> 0.495</td> <td>   -6.571</td> <td>    3.181</td>
</tr>
<tr>
  <th>travel</th>            <td>    7.8044</td> <td>    3.282</td> <td>    2.378</td> <td> 0.018</td> <td>    1.360</td> <td>   14.249</td>
</tr>
<tr>
  <th>treta</th>             <td>  -25.7575</td> <td>    3.541</td> <td>   -7.274</td> <td> 0.000</td> <td>  -32.711</td> <td>  -18.803</td>
</tr>
<tr>
  <th>work</th>              <td>    4.9999</td> <td>    1.733</td> <td>    2.885</td> <td> 0.004</td> <td>    1.596</td> <td>    8.404</td>
</tr>
</table>
<table class="simpletable">
<tr>
  <th>Omnibus:</th>       <td>33.587</td> <th>  Durbin-Watson:     </th> <td>   1.553</td>
</tr>
<tr>
  <th>Prob(Omnibus):</th> <td> 0.000</td> <th>  Jarque-Bera (JB):  </th> <td>  38.041</td>
</tr>
<tr>
  <th>Skew:</th>          <td>-0.542</td> <th>  Prob(JB):          </th> <td>5.49e-09</td>
</tr>
<tr>
  <th>Kurtosis:</th>      <td> 3.486</td> <th>  Cond. No.          </th> <td>    9.10</td>
</tr>
</table>