<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>nome</th>
      <th>unidade</th>
      <th>depto</th>
      <th>jornada</th>
      <th>categoria</th>
      <th>classe</th>
      <th>ref</th>
      <th>func</th>
      <th>func_estr</th>
      <th>tempo</th>
      <th>parcelas</th>
      <th>salario</th>
      <th>salario_liq</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>60</th>
      <td>Adalci da Silva Alves</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 3</td>
      <td>A</td>
      <td>Secretário</td>
      <td>Assistente Técnico de Gabinete I</td>
      <td>31</td>
      <td>51.49</td>
      <td>12842.73</td>
      <td>9959.84</td>
    </tr>
    <tr>
      <th>482</th>
      <td>Ailson Fabricio</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 2</td>
      <td>A</td>
      <td>Motorista</td>
      <td>Motorista de Gabinete</td>
      <td>11</td>
      <td>0.00</td>
      <td>3536.54</td>
      <td>3057.92</td>
    </tr>
    <tr>
      <th>501</th>
      <td>Ailton Rodrigues Bruno</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 3</td>
      <td>A</td>
      <td>Tec Assuntos Administrativos</td>
      <td>Assistente Técnico de Gabinete I</td>
      <td>28</td>
      <td>4734.83</td>
      <td>11432.67</td>
      <td>10822.08</td>
    </tr>
    <tr>
      <th>1324</th>
      <td>Ana Carolina Varandas Martos</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Superior 1</td>
      <td>A</td>
      <td>Procurador</td>
      <td>Assistente Técnico de Direção II</td>
      <td>5</td>
      <td>592.57</td>
      <td>16323.33</td>
      <td>12898.54</td>
    </tr>
    <tr>
      <th>1408</th>
      <td>Ana Glauce Bispo dos Santos Silva</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 2</td>
      <td>A</td>
      <td>Cozinheiro</td>
      <td>Oficial de Gabinete</td>
      <td>19</td>
      <td>0.00</td>
      <td>4247.40</td>
      <td>3536.54</td>
    </tr>
    <tr>
      <th>1463</th>
      <td>Ana Lucia Moraes da Silva</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>36 Horas</td>
      <td>Celetista</td>
      <td>Básico 1</td>
      <td>D</td>
      <td>Telefonista</td>
      <td>Auxiliar de Gabinete</td>
      <td>30</td>
      <td>0.00</td>
      <td>4655.40</td>
      <td>3903.02</td>
    </tr>
    <tr>
      <th>1829</th>
      <td>Andre Luis Correa Barbosa</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 3</td>
      <td>B</td>
      <td>Tec Assuntos Administrativos</td>
      <td>Assistente Técnico de Gabinete I</td>
      <td>26</td>
      <td>5126.68</td>
      <td>11981.20</td>
      <td>12154.09</td>
    </tr>
    <tr>
      <th>2665</th>
      <td>Antonio Paulo Soares</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 4</td>
      <td>A</td>
      <td>Motorista</td>
      <td>Motorista do Reitor</td>
      <td>15</td>
      <td>0.00</td>
      <td>7789.24</td>
      <td>6354.03</td>
    </tr>
    <tr>
      <th>2667</th>
      <td>Antonio Pedro dos Santos Filho</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 3</td>
      <td>A</td>
      <td>Auxiliar de Cozinha</td>
      <td>Auxiliar de Gabinete</td>
      <td>26</td>
      <td>7384.19</td>
      <td>6194.07</td>
      <td>6541.17</td>
    </tr>
    <tr>
      <th>3746</th>
      <td>Carlos Alberto Dias da Rocha</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 2</td>
      <td>A</td>
      <td>Motorista</td>
      <td>Motorista do Reitor</td>
      <td>13</td>
      <td>483.58</td>
      <td>4664.07</td>
      <td>4384.41</td>
    </tr>
    <tr>
      <th>4171</th>
      <td>Caroline Fragata</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 1</td>
      <td>A</td>
      <td>Tec Assuntos Administrativos</td>
      <td>Assistente de Direção</td>
      <td>6</td>
      <td>0.00</td>
      <td>5200.49</td>
      <td>4227.89</td>
    </tr>
    <tr>
      <th>4689</th>
      <td>Claudia Camargo Toni</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Superior 3</td>
      <td>C</td>
      <td>Analista Acadêmico</td>
      <td>Assistente do Reitor I</td>
      <td>29</td>
      <td>0.00</td>
      <td>20384.32</td>
      <td>15513.22</td>
    </tr>
    <tr>
      <th>5277</th>
      <td>Cristina Fragata</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 3</td>
      <td>A</td>
      <td>Secretário</td>
      <td>Assistente Técnico de Gabinete I</td>
      <td>15</td>
      <td>3642.37</td>
      <td>8623.49</td>
      <td>8346.21</td>
    </tr>
    <tr>
      <th>7228</th>
      <td>Eliete da Rocha Viana</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>30 Horas</td>
      <td>Celetista</td>
      <td>Superior 2</td>
      <td>A</td>
      <td>Jornalista</td>
      <td>Assistente Técnico de Gabinete I</td>
      <td>8</td>
      <td>42.90</td>
      <td>10639.03</td>
      <td>8278.00</td>
    </tr>
    <tr>
      <th>7732</th>
      <td>Erika Yamamoto</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>30 Horas</td>
      <td>Celetista</td>
      <td>Superior 1</td>
      <td>A</td>
      <td>Jornalista</td>
      <td>Assessor Técnico de Gabinete II</td>
      <td>5</td>
      <td>85.81</td>
      <td>10514.26</td>
      <td>8193.39</td>
    </tr>
    <tr>
      <th>9644</th>
      <td>Gisele Tomaz do Carmo</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 2</td>
      <td>A</td>
      <td>Secretário</td>
      <td>Assistente Técnico de Direção II</td>
      <td>11</td>
      <td>8745.11</td>
      <td>6844.27</td>
      <td>10151.80</td>
    </tr>
    <tr>
      <th>10487</th>
      <td>Ines Aparecida Vicente de Oliveira</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 2</td>
      <td>B</td>
      <td>Tec Assuntos Administrativos</td>
      <td>Assistente Técnico de Direção II</td>
      <td>27</td>
      <td>7447.36</td>
      <td>9508.33</td>
      <td>9609.11</td>
    </tr>
    <tr>
      <th>11524</th>
      <td>Joao Francisco Pollo</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 1</td>
      <td>A</td>
      <td>Motorista</td>
      <td>Motorista de Gabinete</td>
      <td>3</td>
      <td>26.61</td>
      <td>2766.18</td>
      <td>2536.09</td>
    </tr>
    <tr>
      <th>12097</th>
      <td>Jose Aparecido dos Santos Saraiva</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 2</td>
      <td>A</td>
      <td>Auxiliar de Cozinha</td>
      <td>Auxiliar de Gabinete</td>
      <td>16</td>
      <td>0.00</td>
      <td>3827.75</td>
      <td>3269.76</td>
    </tr>
    <tr>
      <th>12814</th>
      <td>Jose Ricardo Barbosa</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 4</td>
      <td>A</td>
      <td>Tec Assuntos Administrativos</td>
      <td>Assessor Técnico de Gabinete I</td>
      <td>18</td>
      <td>0.00</td>
      <td>12390.30</td>
      <td>9689.80</td>
    </tr>
    <tr>
      <th>14187</th>
      <td>Lindomar da Costa Gonzaga</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 1</td>
      <td>A</td>
      <td>Motorista</td>
      <td>Motorista de Gabinete</td>
      <td>3</td>
      <td>0.00</td>
      <td>2882.70</td>
      <td>2610.30</td>
    </tr>
    <tr>
      <th>15293</th>
      <td>Luiza Yoshiko Issomura Yamamoto</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 4</td>
      <td>A</td>
      <td>Secretário</td>
      <td>Assistente Técnico de Gabinete II</td>
      <td>31</td>
      <td>17543.78</td>
      <td>15028.46</td>
      <td>21841.50</td>
    </tr>
    <tr>
      <th>15388</th>
      <td>Magda Holan Yu Chang</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Superior 1</td>
      <td>B</td>
      <td>Analista Assuntos Administrativos</td>
      <td>Assistente Técnico de Gabinete II</td>
      <td>7</td>
      <td>6699.53</td>
      <td>10792.62</td>
      <td>11956.10</td>
    </tr>
    <tr>
      <th>15683</th>
      <td>Marcelo Fernandez Cuzziol</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Superior 1</td>
      <td>A</td>
      <td>Analista de Comunicação</td>
      <td>NaN</td>
      <td>22</td>
      <td>0.00</td>
      <td>13872.44</td>
      <td>10944.53</td>
    </tr>
    <tr>
      <th>17092</th>
      <td>Maria de Fatima Bezerra</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 4</td>
      <td>A</td>
      <td>Técnico de Comunicação</td>
      <td>Assistente Técnico de Direção II</td>
      <td>27</td>
      <td>0.00</td>
      <td>12618.21</td>
      <td>9712.87</td>
    </tr>
    <tr>
      <th>18350</th>
      <td>Marisa Aparecida Gomes Lisboa</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 2</td>
      <td>A</td>
      <td>Tec Assuntos Administrativos</td>
      <td>Assistente do Reitor II</td>
      <td>33</td>
      <td>15345.08</td>
      <td>11818.71</td>
      <td>17137.69</td>
    </tr>
    <tr>
      <th>20517</th>
      <td>Paulo Antonio da Silva Brito</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 4</td>
      <td>A</td>
      <td>Auxiliar Contábil e Financeiro</td>
      <td>Agente de Gabinete Sênior</td>
      <td>29</td>
      <td>0.00</td>
      <td>9531.90</td>
      <td>7495.29</td>
    </tr>
    <tr>
      <th>21094</th>
      <td>Poliana Pinheiro de Carvalho</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 2</td>
      <td>A</td>
      <td>Secretário</td>
      <td>Assistente Técnico de Direção II</td>
      <td>11</td>
      <td>0.00</td>
      <td>6844.27</td>
      <td>5390.34</td>
    </tr>
    <tr>
      <th>21272</th>
      <td>Raimundo Nonato Camelo</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 3</td>
      <td>A</td>
      <td>Garcom</td>
      <td>NaN</td>
      <td>29</td>
      <td>0.00</td>
      <td>5736.01</td>
      <td>4650.25</td>
    </tr>
    <tr>
      <th>22922</th>
      <td>Rosangela Mendes Goncalves</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 3</td>
      <td>A</td>
      <td>Cozinheiro</td>
      <td>Oficial de Gabinete</td>
      <td>26</td>
      <td>0.00</td>
      <td>6839.53</td>
      <td>5404.89</td>
    </tr>
    <tr>
      <th>23338</th>
      <td>Salvador Ferreira da Silva</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Superior 4</td>
      <td>A</td>
      <td>Procurador</td>
      <td>Assessor de Gabinete</td>
      <td>37</td>
      <td>38983.50</td>
      <td>30471.11</td>
      <td>54641.58</td>
    </tr>
    <tr>
      <th>23355</th>
      <td>Samia de Souza Bomfim</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 1</td>
      <td>A</td>
      <td>Tec Assuntos Administrativos</td>
      <td>NaN</td>
      <td>5</td>
      <td>131.10</td>
      <td>4201.32</td>
      <td>3677.51</td>
    </tr>
    <tr>
      <th>24601</th>
      <td>Stephanie Yukie Hayakawa da Costa</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Superior 2</td>
      <td>A</td>
      <td>Procurador</td>
      <td>Assessor Técnico de Gabinete I</td>
      <td>7</td>
      <td>0.00</td>
      <td>20948.26</td>
      <td>15933.71</td>
    </tr>
    <tr>
      <th>24787</th>
      <td>Tabita Brito Silva Nascimento</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Técnico 1</td>
      <td>A</td>
      <td>Tec Assuntos Administrativos</td>
      <td>NaN</td>
      <td>5</td>
      <td>0.00</td>
      <td>4835.19</td>
      <td>4212.80</td>
    </tr>
    <tr>
      <th>25209</th>
      <td>Thiago Rodrigues Liporaci</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Superior 2</td>
      <td>A</td>
      <td>Procurador</td>
      <td>Chefe de Gabinete</td>
      <td>7</td>
      <td>0.00</td>
      <td>30227.49</td>
      <td>22852.53</td>
    </tr>
    <tr>
      <th>26468</th>
      <td>Wildner Vilaca Antonio</td>
      <td>RUSP</td>
      <td>Gabinete do Reitor</td>
      <td>40 Horas</td>
      <td>Celetista</td>
      <td>Básico 2</td>
      <td>A</td>
      <td>Auxiliar de Administração</td>
      <td>Oficial de Gabinete</td>
      <td>18</td>
      <td>0.00</td>
      <td>4182.49</td>
      <td>2618.18</td>
    </tr>
  </tbody>
</table>