<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Função</th>
      <th>Quantidade de Funcionários</th>
      <th>Salário Mediano</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Assistente</td>
      <td>28</td>
      <td>2311.9</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Auxiliar de Ensino</td>
      <td>3</td>
      <td>1620.73</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Professor Associado</td>
      <td>2090</td>
      <td>16255.19</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Professor Colaborador</td>
      <td>4</td>
      <td>2384.7</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Professor Contratado</td>
      <td>159</td>
      <td>1849.66</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Professor Doutor</td>
      <td>2696</td>
      <td>11838.17</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Professor Titular</td>
      <td>1024</td>
      <td>22660.86</td>
    </tr>
  </tbody>
</table>